<div class="container">
  <h5 style="color: rgb(122, 35, 93);">Fresh Corner Login</h5>
<form class="example-form" [formGroup]="myForm" (ngSubmit)="onLoginSubmit()">
      <div>
      <mat-form-field class="example-full-width">
        <mat-label>Enter your email</mat-label>
        <input type="email" matInput placeholder="Enter your email" formControlName="email" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
         <mat-label>Enter your password</mat-label> 
        <input  type="password" matInput placeholder="Enter your password" formControlName="password" value="">
      </mat-form-field>
    </div>
    
    <button type="submit" mat-raised-button color="primary">Login</button><br />
  </form>

</div>
  



